{%  block content %}
<form method="post">
 {% csrf_token %}
 {{form.as_p}}
 <br><br>
 <button type="submit" name="register">Register</button>
  </form>
  <br><br>
  If you have already an account, <a href='/login'><strong>Login</strong></a> instead.
  <h1>
  <a href="/">Home</a>
  {% if user.is_authenticated %}
  <a href="/account">{{user.username}}</a>
  <a href="/logout">Logout</a>
  {% else %}
  <a href="/register"> Register</a>
  <a href="/login"> Login</a>
  {% endif %}
  </h1>
  {% if messages %}
         {% for message in messages %}
             {% if message.tags == 'success'%}
                 <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
             {% elif message.tags == 'info'%}
                 <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
             {% elif message.tags == 'warning'%}
                 <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
             {% elif message.tags == 'error'%}
                 <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
             {% endif %}
         {% endfor %}
     {% endif %}

  {% endblock %}
